body {
    font-family: 'Georgia', serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilo para la imagen de la carpa */
.circus-top {
    width: 100%;
    height: auto;
    background-image: url('arriba.png.webp'); /* Imagen de la carpa */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eae7dc;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #444;
    margin-right: 10px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-image: url('images/estrellas.png'); /* Imagen de estrellas para el fondo */
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

.decorative-header {
    background: linear-gradient(to right, #f4d35e, #f76c6c);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: #8e8d8a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: #e98074;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #eae7dc;
    color: #888;
    border-top: 1px solid #ddd;
    margin-top: 30px;
}

.graphic {
    text-align: center;
    margin: 20px auto;
}

.graphic img {
    max-width: 300px;
    height: auto;
}
