body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #000000; 
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    text-align: center; /* Centrando el texto en los párrafos */
    margin: 10px 0;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.logo img {
    max-width: 250px; /* Ajusta este valor según el tamaño deseado del logo */
    height: auto;
    margin: 20px auto;
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center; /* Asegura que todo dentro del contenedor esté centrado */
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    border-top: 1px solid #333;
}
